.discover {
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 80px 115px;
    // align-items: center;
    justify-content: center;
    .disover__left {
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 50%;
        .discover___left__h {
            font-weight: 600;
            font-size: 67px;
            line-height: 73px;
            color: $textColor;
            width: 80%;
        }
        .discover__left__p {
            font-weight: 400;
            font-size: 22px;
            line-height: 35px;
            color: $textColor;
            width: 80%;
        }
        .discover___left__btn {
            border-radius: 20px;
            padding: 19px 50px;
            gap: 12px;
            background-color: $btnColor;
            border: none;
            width: 224px;
            height: 60px;
            color: $textColor;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;      
            &:hover {
                background-color: #fff;
                color: $btnColor;
            }
        }

        .discover__left__numbers {
            display: flex;
            gap: 30px;
            width: 90%;
            align-items: center;
            justify-content: center;
            .discover__left__numbers__num {
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .discover__left__numbers__num_fp {
                    font-weight: 700;
                    font-size: 28px;
                    line-height: 39px;
                    color: #fff;
                }
                .discover__left__numbers__num_sp {
                    font-weight: 400;
                    font-size: 23px;
                    line-height: 38px;
                    color: $textColor;
                }
            }

        }
    }



    .discover__right {
        width: 510px;
        height: 510px;
        // height: 50%;
        overflow: hidden;
        background-color: #3B3B3B;
        border-radius: 20px;
        .discover__right__img {
            width: 100%;
        }
        .discover__right__p {
            font-weight: 600;
            font-size: 22px;
            line-height: 30px;
            color: $textColor;
            padding: 10px 20px;
        }
        .discover__right__avatar__cover {
            display: flex;
            gap: 12px;
            color: $textColor;
            padding: 10px 20px;
        }
    }
}

@media (max-width:1186px) {
    .discover {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .disover__left {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .discover___left__h {
                text-align: center;
            }
            .discover__left__p {
                text-align: center; 
            }
            .discover__left__numbers {
                // padding-left: 100px;
            }
        }
    }
}

@media (max-width:996px) {
    .discover {
        .disover__left {
            .discover___left__h {
                font-size: 46px;
                line-height: 50px;
            }
            .discover__left__p {
                font-size: 18px;
                line-height: 28px;
            }
            .discover___left__btn {
                width: 200px;
                height: 50px;
                font-size: 14px;
                padding: 10px;
            }
            .discover__left__numbers {
                // padding-right: 100px;
                .discover__left__numbers__num {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    .discover__left__numbers__num_fp {
                        font-size: 18px;
                        line-height: 25px;
                    }
                    .discover__left__numbers__num_sp {
                        font-size: 18px;
                        line-height: 20px;
                    }
                    
                }
            }

        }
    }
}

@media (max-width:602px) {
    .discover {
        .disover__left {
           .discover__left__numbers {
            .discover__left__numbers__num {
                width: 100px;
                .discover__left__numbers__num_fp {
                    font-size: 15px;
                }
                .discover__left__numbers__num_sp {
                    font-size: 15px;
                }
            }
           } 
        }
        .discover__right {
            width: 310px;
            height: 310px;
            .discover__right__img {
                width: 100%;
            }   
            .discover__right__p {
                font-size: 16px;
                padding: 5px 20px;
            }
            .discover__right__avatar__cover {
                display: flex;
                gap: 10px;
            }
        }
    }
}

@media (max-width:500px) {
    .dicover {
        .disover__left {
            // width: 90%;
            .discover___left__h {
                font-size: 28px;
            }

        }
        .discover__right {
            // height: 30%;
            .discover__right__img {
                
            }   
        }
    }
}

